.groupflow { 
  width: 40rem;
  max-width: 80vw;

  &__title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 100;
  }

  &__value {
    text-align: left;
    color: #c5c6c7;
    font-size: 1rem;
  }

  &__title + &__value {
    margin-top: 0.5rem;
  }

  &__bar {
    margin-top: 1rem;

    width: 100%;
    height: 3rem;

    display: flex;
    background-color: #c5c6c7;
  }

  &__sd {
    height: 100%;
    background-color: #00bec4;

    &--warn {
      background-color: #fa6e6e;
    }
  }

  &__labels {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    color: white;
  }
}
