.screen-recorder {
  max-width: 25rem;
  margin: auto;
  text-align: center;

  &__video {
    display: none;
  }

  &__description {
    font-size: .75rem;
  }

  &__button {
    margin-top: 0.5rem;

    cursor: pointer;

    margin-top: 2rem;
    transition-duration: 0.15s;

    background-color: transparent;
    border: 2px solid #45A29E;
    color: #c5c6c7;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;

    &:hover {
      background-color: #45A29E;
    }
  }
}
