.presenterview {
  &__title {
    color: #45a29e;
    font-size: 5rem;
  }

  &__description {
    color: #c5c6c7;
    max-width: 45rem;
    margin-top: 1.5rem;
    line-height: 1.5rem;
  }

  &__button {
    margin-top: 2rem;
  }
}
.number {
color: white;}

.diagramme{
  display: inline-block;
}
.diagramm{
  margin: 100px;
  margin-bottom: 40px;
  display: inline-block;
}
.warnings{

  height: 200px;
  margin-left:200px;
  margin-right:200px;
  color: white;
  display:flex;
  display: -webkit-flex;
  font-size: 40px;
  vertical-align: middle;
}
.text-warning{
  text-align: center;
  margin: auto;
}
