<div class="diagramme">

  <div class="diagramm"><app-happy-barometer label="Peak" [value]="peakIndicator"></app-happy-barometer></div>

  <div class="diagramm"><app-happy-barometer label="Happiness" [value]="mean_happiness | async"></app-happy-barometer></div>

  <div class="diagramm"><app-happy-barometer label="GroupFlow" [value]="groupflowIndicator"></app-happy-barometer> </div>

</div>

<div class ="warnings" style ="background-color:{{warningColor}}">
  <div class="text-warning">{{warningText}}</div>
</div>
