// .presenterview {
//   &__title {
//     color: #45a29e;
//     font-size: 5rem;
//   }

//   &__description {
//     color: #c5c6c7;
//     max-width: 45rem;
//     margin-top: 1.5rem;
//     line-height: 1.5rem;
//   }

//   &__button {
//     margin-top: 2rem;
//   }
// }

.container {
  min-height: 100%;
  width: 96%;
  margin-left:2%;
  margin-right:2%;
}

.diagramm {
  width: 100%;
  // margin-bottom: 18%;
}

.parent {
  text-align: center;
}

.warnings{
  // height: 100px;
  //margin-left:300px;
  //margin-right:300px;
  //width: auto;
  max-width: 60vw;
  border-radius: 30px;
  color: white;
  //display: flex;
  display: inline-block;
  //display: -webkit-flex;
  font-size: 2rem;
  vertical-align: middle;
  border-style: solid;
  border-width: 4px;

  //display: flex;
  //justify-content: center;
  //align-items: center;
}

.text-warning{
  text-align: center;
  margin-right: 1rem;
  margin-left: 1rem;
  //margin: auto;
}
