<div class="presenterview">
  <h2 class="presenterview__title">Dashboard</h2>

  <!-- <div class = emotions>
    <h3 class="presenterview__description">Sadness </h3>
    <div class ="number"> 5</div>
    <h3 class="presenterview__description">Happiness </h3>
    <div class ="number"> 93</div>
    <h3 class="presenterview__description">Emotion 3 </h3>
    <div class ="number"> -12</div>
    <h3 class="presenterview__description">Emotion 4 </h3>
    <div class ="number"> 0</div>
  </div> -->

</div>

<app-dashboard></app-dashboard>

<!-- <app-active-emotions></app-active-emotions> -->