<div class="diagramme">

  <div class="diagramm"><app-happy-barometer label="Peak" [value]="peakIndicator" orangeThreshold=30 greenThreshold=40></app-happy-barometer></div>

  <div class="diagramm"><app-happy-barometer label="GroupFlow" [value]="groupflowIndicator" orangeThreshold=50 greenThreshold=67></app-happy-barometer> </div>

  <div class="diagramm"><app-happy-barometer label="Happiness" [value]="happiness" orangeThreshold=1 greenThreshold=4></app-happy-barometer></div>


</div>

<div class="warnings" style="background-color:{{warningColor}}">
  <div class="text-warning">{{warningText}}</div>
</div>
