.barometer { 
  width: 40rem;
  max-width: 80vw;

  &__value {
    text-align: center;
    color: #c5c6c7;
    font-size: 4rem;
  }

  &__bar {
    margin-top: 2rem;

    width: 100%;
    height: 3rem;

    display: flex;
    background-color: #c5c6c7;
  }

  &__happy, &__sad {
    width: 50%;
    height: 100%;
  }

  &__sad {
    border-right: 1px solid grey;

    &--on {
      margin-left: auto;
      background-color: red;
    }  
  }

  &__happy {
    &--on {
      margin-right: auto;
      background-color: green;
    }
  }

  &__labels {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    color: white;
  }
}
