<h2>Real Time Emotions</h2>

<table class="active-emotion__table">
  <tr><th>Person</th><th>Angry</th><th>Disgusted</th><th>Happy</th><th>Fearful</th><th>Neutral</th><th>Sad</th><th>Surprised</th></tr>

  <tr *ngFor="let detection of faceDetections; let i = index">
    <td>Person {{ i + 1 }}</td>
    <td [innerHTML]="roundEmotion(detection.expressions.angry)"></td>
    <td [innerHTML]="roundEmotion(detection.expressions.disgusted)"></td>
    <td [innerHTML]="roundEmotion(detection.expressions.happy)"></td>
    <td [innerHTML]="roundEmotion(detection.expressions.fearful)"></td>
    <td [innerHTML]="roundEmotion(detection.expressions.neutral)"></td>
    <td [innerHTML]="roundEmotion(detection.expressions.sad)"></td>
    <td [innerHTML]="roundEmotion(detection.expressions.surprised)"></td>
  </tr>
</table>