.app {
  max-width: 1024px;
  margin: 0 auto;
  padding: 7rem 1.5rem 0;

  &__title {
    text-align: center;
  }

  &__description {
    margin-top: 1rem;
    text-align: center;
    opacity: .5;
  }

  &__content {
    margin-top: 4rem;
  }

  &__body {
    display: flex;
    height: calc(100vh - 3rem);
    width: 100%;

    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #0b0c10;
  }
}
