<div class="home">
  <h2 class="home__title">Track the moods</h2>
  <h3 class="home__description">A web app that enhances the experience by analyzing moods </h3>
  <p class="home__description">Moody captures facial emotions of the participants in a meet to perform real-time emotion detection and give a detailed analysis that in turn helps the presenter understand the scope for improvements</p>

  <p class="home__description"><b>Currently supported browsers:</b> Google Chrome</p>

  <button class="home__button" (click)="trackNow()">TRACK NOW</button>

</div>
