/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
	margin-block: 0;
}

html, body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	width: 100%;
	color: #c5c6c7;
	
	font-family: Arial,Helvetica,sans-serif;
}

button {
	cursor: pointer;
	transition-duration: 0.15s;

	background-color: transparent;
	border: 2px solid #45A29E;
	color: #c5c6c7;
	padding: 1rem 2rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1rem;

	&:hover {
		background-color: #45A29E;
	}
}