<div> 
  <div>
    <div class="indicator">

      <h2>GroupFlow indicator</h2>

      <p>GroupFlow: {{ groupflowIndicator }}</p>

      <!-- <br> -->

      <!-- <table>
        <tr><th>Emotion</th><th>GroupFlow</th></tr>

        <tr><td>Happy</td><td>{{ gF[0] }}</td></tr>
        <tr><td>Surprised</td><td>{{ gF[1] }}</td></tr>
        <tr><td>Neutral</td><td>{{ gF[2] }}</td></tr>
        <tr><td>Sad</td><td>{{ gF[3] }}</td></tr>
        <tr><td>Angry</td><td>{{ gF[4] }}</td></tr>
        <tr><td>Fearful</td><td>{{ gF[5] }}</td></tr>
        <tr><td>Disgusted</td><td>{{ gF[6] }}</td></tr>

      </table> -->

      <!-- <br>

      <table>
        <tr><th>Emotion</th><th>mean</th><th>std</th></tr>

        <tr><td>Happy</td><td>{{ mean_happy | async}}</td><td>{{ std_happy | async}}</td></tr>
        <tr><td>Surprised</td><td>{{ mean_surprised | async}}</td><td>{{ std_surprised | async}}</td></tr>
        <tr><td>Neutral</td><td>{{ mean_neutral | async}}</td><td>{{ std_neutral | async}}</td></tr>
        <tr><td>Sad</td><td>{{ mean_sad | async}}</td><td>{{ std_sad | async}}</td></tr>
        <tr><td>Angry</td><td>{{ mean_angry | async}}</td><td>{{ std_angry | async}}</td></tr>
        <tr><td>Fearful</td><td>{{ mean_fearful | async}}</td><td>{{ std_fearful | async}}</td></tr>
        <tr><td>Disgusted</td><td>{{ mean_disgusted | async}}</td><td>{{ std_disgusted | async}}</td></tr>

      </table> -->
    </div>

    <div class="indicator">

      <h2>Peak Indicator</h2>

      <p>Peak Indicator: {{ peakIndicator }}</p>

      <!-- <table>
        <tr><th>Emotion</th><th>std of the last {{ curr_num }} seconds</th></tr>

        <tr><td>Happy</td><td>{{ moving_std_happy | async }}</td></tr>
        <tr><td>Surprised</td><td>{{ moving_std_surprised | async }}</td></tr>

      </table> -->

    </div>

  </div>

</div>