.analytics {

  &__title {
    color: #45a29e;
    font-size: 5rem;
  }

  &__average {
    color: white;
    font-size: 2rem;
  }

  &__rollercoaster {
    display: block;
    margin-top: 3rem;
  }

  &__download {
    margin-top: 2rem;
  }
}